<div class="ad">
        <a href="   http://9nl.it/1fep" target="_blank">
        <img src="http://ozon-st.cdn.ngenix.net/multimedia/1013604520.jpg" alt='Язык программирования Go' class="banner">
        Язык программирования Go
    </a>
    <p>&nbsp;</p>
    <a href="http://9nl.it/yk07" target="_blank">
        <img src="http://ozon-st.cdn.ngenix.net/multimedia/1017202012.jpg" alt='Go на практике' class="banner">
        Go на практике
    </a>
    <p>&nbsp;</p>
    <a href="http://9nl.it/gm3p" target="_blank">
        <img src="http://ozon-st.cdn.ngenix.net/multimedia/1013195356.jpg" alt='Программирование на Go. Разработка приложений XXI века' class="banner">
        Программирование на Go. Разработка приложений XXI века
    </a>
</div>