<div class="ad">
    <a href="/work">
        <img src="/img/apptica/apptica_logo.png" class="banner">
        Работа
    </a>
    <p>&nbsp;</p>
    <a href="   http://9nl.it/1fep" target="_blank">
        <img src="//ozon-st.cdn.ngenix.net/multimedia/1013604520.jpg" alt='Язык программирования Go' class="banner">
        Язык программирования Go
    </a>
    <p>&nbsp;</p>
    <a href="http://9nl.it/yk07" target="_blank">
        <img src="//ozon-st.cdn.ngenix.net/multimedia/1017202012.jpg" alt='Go на практике' class="banner">
        Go на практике
    </a>
    <p>&nbsp;</p>
    <a href="http://9nl.it/gm3p" target="_blank">
        <img src="//ozon-st.cdn.ngenix.net/multimedia/1013195356.jpg" alt='Программирование на Go. Разработка приложений XXI века' class="banner">
        Программирование на Go. Разработка приложений XXI века
    </a>

    <p>&nbsp;</p>
    <a href="https://ad.admitad.com/g/e2331e4edc64026f39b00d79a64861/" target="_blank">
        <img src="/static/banners/banner-49cc7a92f1d389ed276acc4368c28200.gif" alt='Reg.ru' class="banner">
    </a>
</div>