<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>4gophers</title>
		<link rel="stylesheet" href="/css/foundation.css">
	    <link rel="stylesheet" href="/css/app.css">
	    <link rel="stylesheet" href="/highlight/monokai.css">

	    <script type="text/javascript" src="/highlight/highlight.pack.js"></script>
	    <script>
		hljs.configure({tabReplace: '    '});
		hljs.initHighlightingOnLoad();
		</script>

		{{ if .RSSLink }}
		  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
		  <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
		{{ end }}
	</head>
	<body>



	<div class="row">
	  	<div class="large-12 columns">
	    	<h1 class="text-center" id="logo"><a href="/">4gophers</a></h1>
		</div>
	</div>

	<div class="row column main-menu text-center">
		<ul class="menu">
			<li><a href="/articles">Статьи</a></li>
			<li><a href="/news">Новости</a></li>
			<li><a href="/videos">Видео</a></li>
		</ul>
	</div>